[defaults]
inventory = inventory/hosts.ini 
remote_user = ansible
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles 
host_key_checking = False

[privilege_escalation]
ask_become_pass = False 
become_user = root
become_method = sudo

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 
